In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error

In [15]:
df = pd.read_csv('kc_house_data.csv', index_col = 0)
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,3,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,3,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,3,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,3,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,3,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,3,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,3,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [17]:
df.groupby(['sqft_lot', 'bedrooms'])['price'].mean()

sqft_lot  bedrooms
520       4            700000.0
572       3            250000.0
600       2            367500.0
609       2           1230000.0
635       2            256950.0
                        ...
982998    4            998000.0
1024068   4            855000.0
1074218   5            542500.0
1164794   2            190000.0
1651359   4            700000.0
Name: price, Length: 13276, dtype: float64

In [18]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df)
train, test

(                  date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
 id
 6082400260  11/12/2014   231500.0         2       1.00         1200      9488
 8699100240    5/5/2015   370000.0         6       2.75         3240      5750
 6321000045  12/22/2014  1880000.0         5       3.25         4110      7920
 6413600290    5/9/2014   252500.0         3       1.00         1030      6127
 1523069022    5/6/2015   300000.0         3       1.50         1630     82764
 ...                ...        ...       ...        ...          ...       ...
 1773100123   10/2/2014   285000.0         3       1.75         1100      1307
 7852090820   7/29/2014   539900.0         3       2.50         2500      4203
 8127700215    4/9/2015   862000.0         4       2.25         2220      4200
 5608000590   7/14/2014   929950.0         3       3.50         3790     10829
 3625059071    1/8/2015   899000.0         4       2.25         2290     40946

             floors  waterfront  view  condition  grade  sqft_above  \
 id
 6082400260     1.0         0.0   0.0          5      7        1200
 8699100240     1.0         0.0   0.0          4      6        2160
 6321000045     2.0         0.0   3.0          3      9        3150
 6413600290     1.0         0.0   0.0          3      7         880
 1523069022     1.0         0.0   0.0          4      6        1630
 ...            ...         ...   ...        ...    ...         ...
 1773100123     2.0         NaN   0.0          3      7         780
 7852090820     2.0         0.0   0.0          3      8        2500
 8127700215     1.5         0.0   0.0          5      8        1310
 5608000590     2.0         0.0   0.0          3     11        3790
 3625059071     1.0         0.0   3.0          4      8        1550

            sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
 id
 6082400260           0.0      1941           0.0    98168  47.4832 -122.299
 8699100240        1080.0      1950           NaN    98002  47.3054 -122.221
 6321000045         960.0      1921           0.0    98122  47.6170 -122.282
 6413600290         150.0      1947           NaN    98125  47.7192 -122.320
 1523069022           0.0      1948           NaN    98027  47.4743 -122.026
 ...                  ...       ...           ...      ...      ...      ...
 1773100123         320.0      2008           0.0    98106  47.5601 -122.363
 7852090820           0.0      2001           0.0    98065  47.5346 -121.875
 8127700215         910.0      1932           0.0    98199  47.6418 -122.394
 5608000590           0.0      1993           0.0    98027  47.5525 -122.098
 3625059071         740.0      1960           0.0    98008  47.6160 -122.103

             sqft_living15  sqft_lot15
 id
 6082400260           1200        9488
 8699100240           1230        5750
 6321000045           3890        7800
 6413600290           1610        6127
 1523069022           1680      199069
 ...                   ...         ...
 1773100123           1170        4800
 7852090820           2460        4798
 8127700215           2020        4940
 5608000590           3620       10989
 3625059071           2790       20076

 [16197 rows x 20 columns],
                  date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
 id
 9307300100  5/19/2014   485000.0         3       1.00         1500      4100
 7744500020  8/26/2014   431000.0         2       2.00         1390     12530
 418000415   3/19/2015   191000.0         2       1.00          700      5000
 3528000510   9/5/2014   930800.0         5       2.50         4150     96574
 4040800090   5/6/2014   390000.0         3       1.75         1260      6500
 ...               ...        ...       ...        ...          ...       ...
 1328340540  5/23/2014   335000.0         4       2.50         1750      8476
 7230300060   8/5/2014   370000.0         4       2.50         2190     17600
 9527000040  10/2/2014   429950.0         3       1.75         1830      9758
 1337801060   3/5/2015  1030000.0         3       1.00         2050      4800
 7852010510  4/24/2015   585000.0         4       2.50         2910      6250

             floors  waterfront  view  condition  grade  sqft_above  \
 id
 9307300100     1.5         0.0   0.0          3      7        1370
 7744500020     1.0         0.0   0.0          3      8         970
 418000415      1.0         0.0   0.0          5      6         700
 3528000510     2.0         0.0   0.0          3     10        4150
 4040800090     1.0         0.0   0.0          4      7        1260
 ...            ...         ...   ...        ...    ...         ...
 1328340540     1.0         NaN   0.0          4      7        1240
 7230300060     1.0         0.0   0.0          4      7        1110
 9527000040     1.0         0.0   0.0          3      8        1300
 1337801060     2.0         0.0   0.0          3      8        1950
 7852010510     2.0         0.0   0.0          3      8        2910

            sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
 id
 9307300100         130.0      1926           0.0    98107  47.6689 -122.367
 7744500020         420.0      1959           0.0    98155  47.7499 -122.290
 418000415            0.0      1952           0.0    98056  47.4927 -122.172
 3528000510           0.0      1988           NaN    98053  47.6664 -122.045
 4040800090             ?      1966           0.0    98008  47.6224 -122.116
 ...                  ...       ...           ...      ...      ...      ...
 1328340540         510.0      1983           0.0    98058  47.4447 -122.137
 7230300060        1080.0      1966           NaN    98059  47.4712 -122.112
 9527000040         530.0      1977           NaN    98034  47.7107 -122.230
 1337801060         100.0      1922           0.0    98112  47.6315 -122.311
 7852010510           0.0      1999           0.0    98065  47.5380 -121.870

             sqft_living15  sqft_lot15
 id
 9307300100           1500        4100
 7744500020           1940       12530
 418000415            1040        5200
 3528000510           3320       40803
 4040800090           1500        7700
 ...                   ...         ...
 1328340540           1660        7875
 7230300060           1820       17600
 9527000040           1850        8000
 1337801060           2220        4800
 7852010510           2550        6250

 [5400 rows x 20 columns])